<div class="login-container">
  <h3>Login</h3>
  <form [formGroup]="loginForm" (submit)="loginFormSubmit()" class="log-form">
    <div class="form-group">
      <input type="text" class="form-control" id="email" placeholder="Enter email" formControlName="email">
      <span class="frm-error" *ngIf="loginForm.controls.email.invalid && ( loginForm.controls.email.dirty)">Please enter email</span>
    </div>
  
    <div class="form-group">
      <input type="password" class="form-control" id="password" placeholder="Enter password" formControlName="password">
      <span class="frm-error" *ngIf="loginForm.controls.password.invalid && ( loginForm.controls.password.dirty)">Please enter password</span>
    </div>

    
    <div class="row log-frm-action">        
      <div class="col-sm-offset-2 col-sm-10 ">
        <button type="submit" class="btn btn-default" [disabled]="loginForm.invalid">Submit</button>
      </div>
    </div>
  </form>
</div>