<div class="container-header">
<h3>Customer</h3>
<p>List</p>
</div>
<div class="container-body">
  <div class="container-action-container" >
    <div class="search-container">
      <form>
        <input type="text" class="form-control" placeholder="Name"/>
        <input type="text" class="form-control" placeholder="Address"/>
        <select class="form-control">
          <option value="active">Active</option>
          <option value="inactive">Inactive</option>
        </select>
        <input type="submit" class="btn btn-danger" value="Search">
      </form>
    </div>
    <div class="action-btn-container"  ><a routerLink="/customer/create" class="btn btn-info">Create</a></div>
    <div class="clearfix"></div>
  </div>
  <table class="table table-stripped">
    <thead>
      <tr>
        <th>#ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Raja</td>
        <td>Kolkata</td>
        <td><span class="badge badge-success">Active</span></td>
        <td>
          <a href="" class="btn btn-info btn-sm" title="Edit">&#10000;</a>&nbsp;
          <a href="" class="btn btn-danger btn-sm" title="Delete">&#10006;</a>
        </td>
      </tr>
      <tr>
          <td>1</td>
          <td>Saja</td>
          <td>Kolkata</td>
          <td><span class="badge badge-danger">Inactive</span></td>
          <td>
            <a href="" class="btn btn-info btn-sm" title="Edit">&#10000;</a>&nbsp;
            <a href="" class="btn btn-danger btn-sm" title="Delete">&#10006;</a>
          </td>
        </tr>
        <tr>
            <td>1</td>
            <td>Raja</td>
            <td>Kolkata</td>
            <td><span class="badge badge-success">Active</span></td>
            <td>
              <a href="" class="btn btn-info btn-sm" title="Edit">&#10000;</a>&nbsp;
              <a href="" class="btn btn-danger btn-sm" title="Delete">&#10006;</a>
            </td>
          </tr>
    </tbody>
  </table>


  
</div>